/*...............MEDIA QUERY 320PX...............*/
@media (max-width: 320px){
    header {
        background-color: #ad1212;
        background-size: cover;
        min-width: 100%;
        min-height: 100%;
        position: relative;
        display: flex;
    }
    .titulo1 {
        margin-left: -750px;
        display: flex;
        position: absolute;
        font-size: small;
    }
    .titulo2 h4{
        margin-left: -680px;
        display: flex;
        font-size: small;
    }
    .nav {
        display: flex;
        min-width: 100%;
        left: 0;
        top: 380px;
    }
    .presentacion h2{
        display: flex;
        position: absolute;
        left: -31%;
        top: 500px;
    }
    /*............tradicional...............*/
    .tradicional img{
        display: flex;
        position: absolute;
        max-width: 100%;
        margin-left: -7%;
        z-index: 1;
    }
    .tradicional h4{
        opacity: 0;
        z-index: -1;
    }
    .tradicional p{
        left: 10%;
        display: flex;
        top: 26em;
        position: absolute;
        z-index: 1;
    }
    /*....completa.....*/
    .completa img{
        display: flex;
        position: absolute;
        margin-top: 29em;
        margin-left: -36%;
        z-index: 1;
    }
    .completa p{
        display: flex;
        left: 20%;
        top: 43em;
        position: absolute;
    }
    .completa h4{
        opacity: 0;
        z-index: -1;
    }
    /*...........lanona.............*/
    .lanona img{
        display: flex;
        position: absolute;
        margin-top: 280%;
        margin-left: -66%;
        z-index: 1;
    }
    .lanona p{
        display: flex;
        left: -30%;
        position: absolute;
        top: 56em;
    }
    .lanona h4{
        opacity: 0;
        z-index: -1;
    } 
    /*..........3quesos..............*/
    .quesos img {
        display: flex;
        position: absolute;
        margin-top: 60em;
        margin-left: -7%;
        z-index: 1;
    }
    .quesos p{
        display: flex;
        left: 3em;
        top: 70em;
        position: absolute;
        z-index: 1;
    }
    .quesos h4{
        opacity: 0;
        z-index: -1;
    }
    /*.........doble...................*/
    .doble img{
        display: flex;
        position: absolute;
        margin-top: 92em;
        margin-left: -37%;
        z-index: 1;
    }
    .doble p{
        display: flex;
        top: 89em;
        z-index: 1;
        left: -8%;
    }
    .doble h4{
        opacity: 0;
        z-index: -1;
    }
    /*..........recargada...................*/
    .recargada img{
        display: flex;
        position: absolute;
        margin-top: 122em;
        margin-left: -67%;
        z-index: 1;
    }
    .recargada p{
        display: flex;
        top: 105em;
        left: -30%;
    }
    .recargada h4{
        opacity: 0;
        z-index: -1;
    }
    /*............footer.......................*/
    footer{
        display: flex;
        position: absolute;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 2900px;
    }
    .redes {
        margin-bottom: -8%;
        display: flex;
        position: absolute;
        margin-left: -260%;
    }
    .numeros {
        display: flex;
        position: absolute;
        left: -80%;
        top: 0.7em;
    }
    .items{
        display: flex;
        position: absolute;
        left: -10%;
        top: 3em;
    }
    .portfolio {
        opacity: 0;
        z-index: -1;
    }
}

/*CSS*/
body {
    margin: 0;
    padding: 0;
    background-color: #A39A91;
    width: 100%;
    height: 100%;
    
 }
 /*.........................HEADER.............................*/
 header {
    background-color: #ad1212;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
 }
 .titulo1 {
    display: flex;
    position: absolute;
    font-family:'Backly Highs', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 67px;
    left: 800px;
    top: 95px;
 }
 .titulo2 {
    font-family: 'SansXHigh', sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 12em;
    margin-left: 750px;
    font-size: 1.70em;
 }
 ul {
    font-family:'SansXHigh', sans-serif;
    width: 100%;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(255, 255, 255);
 }
li {
    float: left;
}
li a{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;   
}
nav {
    display: flex;
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    z-index: 1;
    margin-left: 0;
}
/*....................................... BODY...................................... */
body {
    background-color: #A39A91;
    font-size: 100%;
    padding: 0;
}
.presentacion h2{
    font-family: 'SansXHigh', sans-serif;
    font-size: 1.70em;
    text-align: center;
    margin-top: -6%;
    display: flex;
    margin-left: 35%;
}
.presentacion {
    margin-left: 2em;
    font-family: 'SansXHigh', sans-serif;
    margin-top: 10%;
}
    

/*............................................hamburguesas...................................*/
/*..........TRADICIONAL...............*/
.tradicional img{
    display: flex;
    position: absolute;
    left: 10%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 15px 25px;
    cursor: pointer;
    top: 70%; 
}
.tradicional img:hover {
    transform: translateY(-15%);
    transition: 1s;
}
.tradicional img:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
.tradicional {overflow:hidden;}  

.tradicional h4{
    font-family:'SansXHigh', sans-serif;
    color: rgb(0, 0, 0);
    z-index: 1;
    margin-left: 15%;
    top: 63%;
    display: flex;
    position: absolute;
}
.tradicional p{
    font-family: 'SansXHigh', sans-serif;
    font-size: 2em;
    margin-left: 10%;
    margin-top: 18%;
    padding-right: 70%;

}
/*.................COMPLETA................*/
.completa img{
    display: flex;
    position: absolute;
    left: 40%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 15px 25px;
    cursor: pointer;
    top:70%;
}
.completa img:hover {
    transform: translateY(-15%);
    transition: 1s;
}
.completa img:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
.completa {overflow:hidden;}  

.completa h4{
    font-family:'SansXHigh', sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 43%;
    display: flex;
    position: absolute;
    top: 63%;
    z-index: 1;
}
.completa p{
    font-family: 'SansXHigh', sans-serif;
    font-size: 2em;
    left: 40%;
    margin-top: -6%;
    padding-right: 40%;
    z-index: 1;
    display:flex;
    position: absolute;
}
/*...............LA NONA................*/
.lanona img{
    display: flex;
    position: absolute;
    left: 70%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 15px 25px;
    cursor: pointer;
    top:70%;

}
.lanona img:hover {
    transform: translateY(-15%);
    transition: 1s;
}
.lanona img:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
.lanona {overflow:hidden;}  

.lanona h4{
    font-family:'SansXHigh', sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 75%;
    display: flex;
    position: absolute;
    top: 62%;
}
.lanona p{
    font-family: 'SansXHigh', sans-serif;
    font-size: 2em;
    margin-left: 69%;
    margin-top: -9%;
    padding-right: 10%;
    position: absolute;
    
}
/*..................4QUESOS.......................*/
.quesos img{
    display: flex;
    position: absolute;
    left: 10%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 15px 25px;
    cursor: pointer;
    top:125%;

}
.quesos img:hover {
    transform: translateY(-15%);
    transition: 1s;
}
.quesos img:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
.quesos {overflow:hidden;}  

.quesos h4{
    font-family:'SansXHigh', sans-serif;
    color: rgb(0, 0, 0);
    z-index: 1;
    margin-left: 15%;
    margin-top: 1%;
    display: flex;
    position: absolute;
    top: 118%;
}
.quesos p{
    font-family: 'SansXHigh', sans-serif;
    font-size: 2em;
    margin-left: 10%;
    margin-top: 17%;
    padding-right: 70%;
 
}
/*........................DOBLE....................*/
.doble img{
    display: flex;
    position: absolute;
    left: 40%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 15px 25px;
    cursor: pointer;
    top:125%;
}
.doble img:hover {
    transform: translateY(-15%);
    transition: 1s;
}
.doble img:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
.doble {overflow:hidden;}  

.doble h4{
    font-family:'SansXHigh', sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 43%;
    margin-top: 1%;
    display: flex;
    position: absolute;
    top: 118%;
}
.doble p{
    font-family: 'SansXHigh', sans-serif;
    font-size: 2em;
    margin-left: 39%;
    margin-top: -7.5%;
    padding-right: 38%;
    position: absolute;
    display: flex;
}

/*........................RECARGADA..................*/
.recargada img {
    display: flex;
    position: absolute;
    left: 70%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 15px 25px;
    cursor: pointer;
    top:125%;
    
}
.recargada img:hover {
    transform: translateY(-15%);
    transition: 1s;
}
.recargada img:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
.recargada {overflow:hidden;}  

.recargada h4{
    font-family:'SansXHigh', sans-serif;
    color: rgb(0, 0, 0);
    z-index: 1;
    margin-left: 75%;
    margin-top: 1%;
    display: flex;
    position: absolute;
    top: 118%;
}
.recargada p{
    font-family: 'SansXHigh', sans-serif;
    font-size: 2em;
    margin-left: 70%;
    margin-top: -8%;
    padding-right: 10%;
    position: absolute;
}

/*.........................................................FOOTER...............................................*/
/*........................REDES........................*/
footer {
    background-color: #835c42;
    background-size: cover;
    padding: 0;
    width: 100%;
    height: 30%;
    position: absolute;
    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;
}
.redes {
    bottom: 13em;
    left: 850px;
    display: flex;
    position: absolute;
    font-family: 'Hwyl fawr Hello', sans-serif;                                            
    background-color: #835c42;
    color: aliceblue;
}
.buttons {
    left: 3px;
    bottom: -4em;
    display: flex;
    position: absolute;
    background-color:#835c42;
}
.redes .buttons:hover{
    transform: translateY(-6px);
    transition: 1s;
}
/*...............NUMEROS..............*/
.numeros {
    margin-left: 450px;
    bottom: 30em;
    font-family: 'Hwyl fawr Hello', sans-serif; 
    color: aliceblue;
    
}
.numeros ul{
    background-color: #835c42;
    color: aliceblue;
}
.numeros button {
    text-decoration: none;
    cursor: pointer;
    color: aliceblue;
    background-color: #835c42;
    border: none;
}
.numeros button:hover {
    color: #ad1212;
}
.contador {
    display: flex;
    position: absolute;
    left: 1255px;
    bottom: 10em;
}
.portfolio img{
    width: 10%;
    height: 20%;
    margin-left: 0%;
    margin-bottom: -40%;
}