/*...............MEDIA QUERY 1440PX...............*/
@media (max-width: 1440px){
    header {
        background-color: #ad1212;
        background-size: cover;
        width: 100%;
        font-size: 150%;
        display: flex;
        left: 15%;
    } 
    .titulo2 {
        font-size: 2%;
        margin-left: 12%;
        display: flex;
        position: absolute;
    }
    ul { 
        background-color: rgb(255, 255, 255);
        width: 100%;
        font-size: 8%;
        display: flex;
        margin-left: 28%;
        margin-top: 8%;
        float: left;
        position: absolute;
    }
    .presentacion {
        background-color: #A39A91;
        background-size: 100%;
        width: 100%;
        display: flex;
    }  
    .info h3 {
        font-size: 300%;
        display: flex;
        text-align: center;
        left: 17%;
        margin-top: 33%;
    }
    .info p{
        display: flex;
        font-size: 100%;
        left: 25%;
        margin-top: 10%;
        padding: 2% 10%;
    }
    .fotoinfo {
        margin-top: 27%;
        left: -5%;
        width: 80%;
        height: 90%;
    }
    .alternativa {
        display: flex;
    }
    .alternativa h3{
        font-size: 300%;
        display: flex;
        text-align: center;
        margin-left: -30%;
        margin-top: 30%;
        position: absolute;
    }
    .alternativa p{
        font-size: 100%;
        display: flex;
        left: -75%;
        top: 10%;
        position: absolute;
        padding: 2% 55%;
    }
    .fondo {
        margin-top: 29%;
        width: 40%;
        height: 50%;
        display: flex;
        margin-left: 45%;
    }
    .lista {
        display: flex;
        position: absolute;
        top: 60%;
        left: 12%;
    }
    .horarios {
        display: flex;
        position: absolute;
        top: 350%;
    }
    .horarios h2{
        display: flex;
        top: 340%;
    }
    .horarios p{
        display: flex;
        position: absolute;
        top: 18%;
    }
    .ubicacion {
        display: flex;
        position: absolute;
        top: 360%;
    }
    footer {
        display: flex;
        position: absolute;
        background-size: cover;
        width: auto;
        height: 100%;
        margin-bottom: 0;
    }
}
/*.......................................................CSS..................................................*/
body {
   margin: 0;
   padding: 0;
   background-color: #A39A91;
   z-index: -1;
}

/*..........................................................HEADER.................................................................*/
header {
    background-color: #ad1212;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    display: flex;
    
}
.titulo1 {
    display: flex;
    position: center;
    font-family:'Backly Highs', sans-serif;
    color: rgb(255, 255, 255);
    font-size:400%;
    text-align: center;
    margin-left: 40%;
    margin-top: 5%;

}
.titulo2 {
    font-family: 'SansXHigh', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    margin-top: 12%;
    margin-left: -13%;
    font-size: 200%;
    
}
ul {
    position: absolute;
    font-family:'SansXHigh', sans-serif;
    align-items: center;
    list-style-type: none;
    background-color:rgb(255, 255, 255);
    width: 100%;
    font-size: 140%;
    text-align: center;
}
li {
    float: left;
}
li a{
    display: flex;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}
nav {
    text-align: center;
    position: absolute;
    display: flex;
    top: 24.4em;
    width: 100%;
    z-index: 1;
    margin-left: -61.8%;
    margin-top: -4%;
    cursor: pointer;
}
/*...................................................BODY...........................................................................*/
/*................PRIMER PARTE...........*/
.presentacion {
    margin-top: 40em;
    background-color: #A39A91;
    background-size: 100%;
    width: 100%;
    display: flex;

}
.info h3 {
    font-family: 'Manthul', sans-serif;
    top: 58%;
    left: 43%;
    color: #ad1212;
    font-size: 300%;
    position: absolute;
    display: flex;
}
.info p {
    display: flex;
    position: absolute;
    color: rgb(0, 0, 0);
    font-family: 'SansXHigh', sans-serif;
    margin-left: 28%;
    top: 55%;
    padding: 12% 20%;
   
}
.fotoinfo {
    margin-left: 15%;
    display: flex;
    position: absolute;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    cursor: pointer;
    top: 80%;
}

.fotoinfo:hover {
    transform: translateY(-15%);
    transition: 1s;
}
/*...........................SEGUNDA PARTE....................*/
.alternativa {
    display: flex;
    position: absolute;
    left: 12%;
    top: 100%;
    padding: 0;
    margin: 0;
}
.alternativa h3{
    font-family: 'Manthul', sans-serif;
    color:#ad1212;
    font-size: 300%;
    display: flex;
    position: absolute;
    left: 35%;
    top: 30%;
}
.alternativa p{
    display: flex;
    font-family: 'SansXHigh', sans-serif;
    font-size: 1em;
    margin-left: 5%;
    margin-top: 70%;
}
.fondo{
    margin-top: 30%;
    margin-right: 13em;
    display: flex;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    box-shadow: 0px 15px 20px;
    cursor: pointer;
}

.fondo:hover {
    transform: translateY(-15%);
    transition: 1s;
}
/*.......................................................NAVEGACION.....................................................*/
.lista {
    margin-top: 80em;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
    
}
.contenedor h3 {
    font-family: 'Manthul', sans-serif;
    color:#ad1212;
    font-size: 300%;
    margin-top: -8%;
    left: 45%;
    z-index: 1;
    position: absolute;
    display: flex;
}
.img1 {
    background: url(https://www.noticiasformosa.com.ar/wp-content/uploads/2021/06/Hamburguesas.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
    background-color:rgb(165, 131, 131);
}
.img2 {
    background: url(https://www.noticiasformosa.com.ar/wp-content/uploads/2021/06/Hamburguesas.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.img3 {
    background: url(https://www.noticiasformosa.com.ar/wp-content/uploads/2021/06/Hamburguesas.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.img4 {
    background: url(https://www.noticiasformosa.com.ar/wp-content/uploads/2021/06/Hamburguesas.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.img5 {
    background: url(https://www.noticiasformosa.com.ar/wp-content/uploads/2021/06/Hamburguesas.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.img6 {
    background: url(https://www.noticiasformosa.com.ar/wp-content/uploads/2021/06/Hamburguesas.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}
.post {
    box-shadow: 0 1px 6px 1px rgba(0,0,0, .1);
    overflow: hidden;
    transition: .2s;
    background-color:#856b5c;
}
.post:hover {
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0,0,0,.15);
}
.articulos {
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}
.post:hover .img1
.post:hover .img2
.post:hover .img3
.post:hover .img4
.post:hover .img5
.post:hover .img6{
    transform: scale(1.1);
}
.info1 {
    padding: 15px;
    text-align: center;
}
.info1 span{
    display: inline-block;
    color: black;
    margin-bottom: 10px;
    font-family: 'SansXHigh', sans-serif;
}
.info1 h2{
    margin-bottom: 15px;
    font-family: 'SansXHigh', sans-serif;
}
.info1 p{
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'SansXHigh', sans-serif;
}
/*.....................................BOTONES................................*/
.info1 .link{
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #ad1212;
    color: aliceblue;
    width: 50%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 1px 2px 6px 1px rgba(0,0,0, .1);
    transition: .2s;
}
.info1 .link:hover {
    background: #d67676;
    box-shadow: 1px 2px 6px 1px rgba(0,0,0, .2);
    transform: translateY(-2px);
}
@media (max-widht: 840px){
    .contenedor {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-widht: 600px){
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
    }
}
/*................................HORARIOS................................*/
.horarios h2{
    font-family: 'SansXHigh', sans-serif;
    margin-left: 2em;
}
.horarios p{
    font-family: 'SansXHigh', sans-serif;
    margin-left: 2em;
    text-decoration: dotted;
    margin-top: 40px;
}
/*................................UBICACION................................*/
.ubicacion {
    margin-top: 80px;
    display: flex;
}
.ubicacion h2{
    display: flex;
    font-family: 'SansXHigh', sans-serif;
    margin-left: 2em;
}
.ubi {
    position: relative;
    left: 2px;
    display: flex;
    margin-top: 90px;
}
/*..............................................................FOOTER...............................................................................*/
/*........................REDES........................*/
footer {
    background-color: #835c42;
    background-position: center;
    padding: 0;
    width: 100%;
    height: 30%;
    margin: 0;
    margin-bottom: 0;
    position:absolute;
    display: flex;
    overflow-x: hidden;
}
.redes {
    bottom: 75%;
    left: 45%;
    display: flex;
    position: absolute;
    font-family: 'Hwyl fawr Hello', sans-serif;                                            
    background-color: #835c42;
    color: aliceblue;
}
.buttons {
    left: 6%;
    bottom: -4em;
    display: flex;
    position: absolute;
    background-color:#835c42;
    z-index: 1;
}
.redes .buttons:hover{
    transform: translateY(-12%);
    transition: 1s;
}
/*..............................NUMEROS..........................*/
.numeros {
    margin-left: 25%;
    bottom: 60%;
    font-family: 'Hwyl fawr Hello', sans-serif; 
    color: aliceblue;
    position: absolute;
    display: flex;
    z-index: 1;
    
}
.numeros ul{
    background-color: #835c42;
    color: aliceblue;
}
.numeros button {
    text-decoration: none;
    cursor: pointer;
    color: aliceblue;
    background-color: #835c42;
    border: none;
    left: 15%;
    bottom: -3%;
}
.numeros button:hover {
    color: #ad1212;
}
.contador {
    display: flex;
    position: absolute;
    left: 67%;
    bottom: 15%;
    z-index: 1;
}
.clima {
    display: flex;
    position: absolute;
    left: 67%;
    bottom: 14em;
}
